* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generale */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
}

.bottone1 {
  background-color: #0061FF;
  color: white;
  margin-right: 10px;
  padding: 8px 13px;
  align-self: center;
  border: #0061FF;
}

h1 {
  font-weight: bolder;
  font-size: 2rem;
}



.bottone-inizia {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #0061FF;
  color: white;
  margin-right: 10px;
  padding: 10px 15px;
  align-self: center;
  border: #0061FF;
}

.bottone-prova {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #0061FF;
  color: white;
  margin-right: 10px;
  padding: 10px 15px;
  align-self: center;
  border: #0061FF;
}

.bottone-enterprise {

  margin-bottom: 30px;
  background-color: #0061FF;
  color: white;
  margin-right: 10px;
  padding: 10px 15px;
  align-self: center;
  border: #0061FF;
}

.annulla {
  margin-top: 40px;
}

header .box-header .container1{
  align-items: center;
  align-self: center;
  align-content: center;
}

header .box-header .container1 p{
  margin-left: 22px;
  height: 60px;
  align-items: center;
  align-self: center;
  align-content: center;
}

header .box-header .container2 p{
  margin-right: 22px;
  height: 60px;
  align-items: center;
  align-self: center;
  align-content: center;
}

.testo1 {
  text-align: start;
  padding-top: 80px;
}

.immagine1 {
  width: 790px;
  padding-top: 70px;
}

.box1 {
  margin: 0 auto;
  display: flex;
  align-self: flex-start;
}

.immagine-logo {
  margin-left: 20px;
  margin-right: 10px;
}


.cerchio1 {
  color: #0A4BB7;

}

.tasti1 {
  display: flex;
 
  padding-top: 50px;
  align-items: center;
}

.mensile {
  align-items: center;
}



.container-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px auto;
  max-width: 1000px;
}

.boxcard22 {
  height: 40px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid rgb(160, 160, 160);
}

.icona1 {
  align-items: center;
  padding-top: 7px;
  height: 40px;
}

.card .boxcard2 {
  position: absolute;

  top: 50px;
  width: 250px;
  height: 850px;
  margin-top: 30px;
  
}



.icona2 {
  align-items: center;
  padding-top: 7px;
  height: 40px;
}

.icona3 {
  align-items: center;
  padding-top: 7px;
  height: 40px;
}

.icona4 {
  align-items: center;
  padding-top: 7px;
  height: 40px;
}

.boxcard2 h2 {
  padding-bottom: 20px;
  font-weight: bolder;
}
.boxcard2 .costo {
  padding-bottom: 10px;
}

.boxcard2 li{
  margin-top: 10px;

}

.check {
  color: #0061FF;
  font-size: larger;
}

.line {
  border-top: 1px solid rgb(160, 160, 160);
  
  padding-bottom: 1.5rem !important;
  width: 20%;
  margin-top: 30px;
  margin-bottom: 30px;
}



.acquistaora {
 text-decoration: underline;
 color: #0061FF;
}

.boxcard2 button {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
}

.boxcard2 .mese{
  padding-bottom: 30px;
}

.card {
  justify-content: center;
  position: relative;
  width: 300px;
  height: 975px;
  display: flex;
  border: 1px solid rgb(160, 160, 160);
}

.card1 {
  position: relative;
  width: 1000px;
  height: 260px;
  margin-top: 40px;
  border: 1px solid rgb(160, 160, 160);
}

.card1 .bottone-enterprise {
  position: relative;
  left: 800px;
  bottom: 160px;
}

.h2enterprise {
  padding-left: 30px;
  padding-top: 30px;
}

.h4enterprise {
  padding-left: 30px;
  padding-top: 15px;
}

.penterprise {
  padding-left: 30px;
  padding-top: 50px;
  font-size: 0.9rem;
}

.box-sezione{
  margin: 0 auto;
  width: 1000px;
  display: flex;

  padding-top: 150px;
  align-self: center;
}

.ul1 .li2::before {
  content: '\f07b';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  position: absolute;
  left: 0;
}

.ul1 .li1::before {
  content: '\f007';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  position: absolute;
  left: 0;
}

.ul2 .li3::before {
  content: '\f1e0';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  position: absolute;
  left: 0;
}
.ul2 .li2::before {
  content: '\f07b';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  position: absolute;
  left: 0;
}

.ul2 .li1::before {
  content: '\f007';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  position: absolute;
  left: 0;
}

.ul1 .li3::before {
  content: '\f1e0';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  position: absolute;
  left: 0;
}

.ul1 .li2 {
  position: relative;
  padding-left: 1.5rem;
}

.ul1 .li1 {
  position: relative;
  padding-left: 1.5rem;
}

.ul1 .li3 {
  position: relative;
  padding-left: 1.5rem;
}

li{
  list-style: none;
}


.ul-2 li::before {
  content: '✓';
  color: #0061FF;
  position: absolute;
  left: 0;
}

.ul-2 li {
  position: relative;
  padding-left: 1.5em;
}

.ul2 {
  list-style: none;
  padding-left: 0;
}

.immagine-card {
  width: 300px;
}

.sezione-card{
  margin: 0 auto;
  width: 1000px;
  display: block;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 150px;
  align-self: center;
}

.carta {
  width: 300px;
  height: 500px;
  
}

.img-partner {
  height: 515px;
}

.box-partner {
  padding-left: 40px;
  padding-top: 50px;
}

.box-sezione2{
  margin: 150px auto;
  width: 1000px;
  height: 515px;
  display: flex;
 
}

.box-card {
  display: flex;
  padding-top: 100px;
	flex-wrap: wrap;
  justify-content: space-between;
}

.card500 {
  width: 1000px;
  align-self: center;
  margin: 0 auto;
  padding-bottom: 150px;
}

.card500 h1 {
  font-size: 2.7rem;
  padding-bottom: 40px;
}

.container-footer{
  height: 225px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  color: white;
  justify-content: space-between;
}

.linea-footer {
  border-top: 1px solid rgb(160, 160, 160);
  margin: 0 620px;
  padding-bottom: 1.5rem !important;
  width: 150px;
  margin-top: 100px;
  margin-bottom: 30px;
}

main header .box-header .container1 p:hover {
  border-bottom: 1px solid black;

}

main header .box-header .container2 p:hover {
  border-bottom: 1px solid black;

}

.italiano-footer {
  color: grey;
  margin: 0 350px;
}

.footer .container-footer .colonna1 li{
  padding-bottom: 10px;
}

.p-card {
  padding-top: 20px;
}

.footer .container-footer .colonna1 h3{
  padding-bottom: 30px;
  font-size: 1.3rem;
  font-weight: bold;
}

.p-500 {
  text-decoration: underline;
  color: #0061FF;
}

.box-partner p {
  margin-top: 20px;
}

.bottone-partner {
  margin-top: 35px;
  background-color: white;
  padding: 10px 15px;
  border-width: rgb(160, 160, 160);
  font-size: large;
  color: rgb(160, 160, 160);
}

header .box-header .container1 img {
  height: 30px;
}

.box-header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.container1 {
  height: 60px;
  display: flex;
  align-items: center;
  

}

.container2 {
  display: flex;
   
  justify-content: space-between;
  align-items: center;
  align-self: center;
  align-content: center;
}

.jumbotron {
  height: 700px;
  background-color: #B4D0E7;
  align-items: flex-start;
}

.titolo1 {
  padding-right: 7px;
  font-size: 4.7rem;
  font-weight: 900;
}

.box-jumbo {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer{
  width: 100%;
  height: 575px;
  padding-top: 100px;
  background-color: black;
}