* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generale */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
  background-color: #0061FF;
  color: white;
  margin-right: 10px;
  padding: 10px 15px;
  align-self: center;
  border: #0061FF;
}

h1 {
  font-weight: bolder;
  font-size: 2rem;
}

header .box-header .container2 button {
  background-color: #0061FF;
  color: white;
  margin-right: 10px;
  padding: 7px 13px;
  align-self: center;
  border: #0061FF;
}

.bottone-inizia {
  margin-top: 30px;
  margin-bottom: 30px;
}

.annulla {
  margin-top: 40px;
}

.fa-solid {

 
}

header .box-header .container1 p{
  padding-left: 22px;

}

header .box-header .container2 p{
  padding-right: 22px;
;
}

.testo1 {
  text-align: start;
  padding-top: 80px;
}

.immagine1 {
  width: 790px;
  padding-top: 70px;
}

.box1 {
  margin: 0 auto;
  display: flex;
  align-self: flex-start;
}

.immagine-logo {
  margin-left: 20px;
  margin-right: 10px;
}

.parte2{
   
}

.cerchio1 {
  color: #0A4BB7;

}

.tasti1 {
  display: flex;
 
  padding-top: 50px;
  align-items: center;
}

.mensile {
  align-items: center;
}

.mensile::before {
  
}

.container-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px auto;
  max-width: 1000px;
}

.boxcard22 {
  height: 40px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid grey;
}

.icona1 {
  align-items: center;
  padding-top: 7px;
  height: 40px;
}

.icona2 {
  align-items: center;
  padding-top: 7px;
  height: 40px;
}

.icona3 {
  align-items: center;
  padding-top: 7px;
  height: 40px;
}

.icona4 {
  align-items: center;
  padding-top: 7px;
  height: 40px;
}

.card {
  justify-content: center;
  width: 300px;
  height: 975px;
  display: flex;
  border: 1px solid grey;
}

.card1 {
  width: 1000px;
  height: 260px;
  margin-top: 40px;
  border: 1px solid grey;
}

.box-sezione{
  margin: 0 auto;
  width: 1000px;
  display: block;
  padding-top: 150px;
  align-self: center;
}

.box-header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.container1 {
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.container2 {
  display: flex;
  align-self: center;

}

.jumbotron {
  height: 700px;
  background-color: #B4D0E7;
  align-items: flex-start;
}

.titolo1 {
  padding-right: 7px;
  font-size: 4.7rem;
  font-weight: 900;
}

.box-jumbo {
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}